body{
    background-color: #606060;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    color: #e4e8eb;
}

.principal{
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.all{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20%;
    width: fit-content;
    left: 5%;

    .title{
        font-size: clamp(0.7rem, 4vw, 3rem);
        :is(span){
            color: #f05464;
            text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
        }
    }

    .bar{
        height: 0.6rem;
        width: 100%;
        border-radius: 5px;
        background-color: #f05464;
    }

    .description{
        font-size: clamp(0.6rem, 3vw, 1.7rem);
    }
}
