<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <section class="desktop">
        <div class="left">
            <img src="./assets/img/drink.png" alt="Logo">
        </div>
        <div class="right">
            <p>HOME</p>
            <p>COCKTAILS</p>
            <div class="buttons">
                <div class="button" (click)="goToGithub()">
                    <i class="fab fa-github"></i> AUTOR
                </div>                
            </div>
        </div>
    </section>

    <section class="mobile">
        <div class="left">
            <img src="./assets/img/drink.png" alt="Logo">
        </div>
        <div class="all">
            <img (click)="toggleItems()" [src]="showItems ? './assets/img/close.png' : './assets/img/interface.png'">
            <div class="right">
                <div class="path" *ngIf="showItems">
                    <p>HOME</p>
                    <p>COCKTAILS</p>
                </div>
                <div *ngIf="showItems" class="buttons">
                    <div class="button" (click)="goToGithub()">
                        <i class="fab fa-github"></i> AUTOR
                    </div>
                </div>
            </div>
        </div>
    </section>    
    
</body>